body {
    background-color: green;
    background-image: url(/practice_1/resources/images/Loki.png);
    margin: 0;
}

div#banner {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid red;
}

.content {
    text-align: center;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: red;
}

#self {
    color: red;
    text-align: center;
    background-color: rgba(45, 157, 221, 0.7); /* rgba is a quick way to make the background color transparent */
    display: inline-block;
    padding: 5px;
    margin: 0;
    
}

p {
    color: white;
}

.paragraph {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    z-index: 10;
    text-align: center;
}

.Odin {
    background-color: rgba(0, 0, 0, 0.7);
    margin: auto;
    text-align: center;
}

.suffering {
    color: aqua;
}